
<!DOCTYPE html>
<html>
    <head>
        <meta charset="=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My portfolio</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <body>
            <ul>
                <li><a href="about.html">About</a>
                </li>
                <li><a href="form.html">Contact</a></li>
            </ul>
<h1 id="cont"><font size="8">Contact Me</font></h1>
            <div class="frame" id="contact">
                <div class="container">
                <form onsubmit="return false;">
                <input type="text" id="name" placeholder="Your Name" required>
                <input type="email" id="email" placeholder="Your Email" required>
                <textarea id="message" placeholder="Your Message" required></textarea>
                <button >Send Message</button>
                </form>
                </div>
            </div>
            </html>